/* app css stylesheet */

form { margin:0 !important}

body { overflow-y: scroll; }

    .container {margin-top:30px}

        .hp-post-details { height:0; margin:0; overflow:hidden; display:block; transition: all 0.4s; -webkit-transition: all 0.4s; opacity:0; }
        .hp-post-details.active { height:250px; opacity:1; }
        .hp-post-message { height: 20px; transition: all 0.4s; -webkit-transition: all 0.4s;}
        .hp-post-message.active { height: 80px; }


/** bootstrap overwrites */
