<div class="row">
    <div class="span8">

        <div class="row" x-signed-in>
            <form class="form-horizontal" class="hp" ng-submit="addPost(post)" >
                <div class="control-group">
                    <textarea required class="form-control span8 hp-post-message" ng-focus="showFullForm()" ng-model="post.message" placeholder="[[[How was your running today?]]]"></textarea>
                </div>
                <div class="hp-post-details">
                    <div class="control-group" style="height:0px;">
                        <label for="distance" class="control-label">[[[Distance]]]</label>
                        <div class="controls">
                            <input smart-float type="text" id="distance" ng-model="post.distance" placeholder="[[[Distance in km]]]">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="control-group">
                        <label  class="control-label">[[[Duration]]]</label>
                        <div class="controls">
                            <div ng-model="post.duration" class="bootstrap-timepicker" style="display:inline-block;">
                                <timepicker hour-step="1" minute-step="1" show-seconds="true" show-meridian="false"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="control-group">
                        <label for="location" class="control-label">[[[Town]]]</label>
                        <div class="controls">
                            <input type="text" id="location" ng-model="post.location"  typeahead-editable="false" typeahead-wait-ms="500" typeahead="location as location.town for location in getTowns($viewValue)" placeholder="[[[town name]]]">
                        </div>
                    </div>

                    <div class="row">

                            <button type="submit" ng-disabled="form.$invalid || isUnchanged(user)" class="btn btn-primary pull-right">[[[Publish]]]</button>
                            <a ng-click="cancelPost()" class="btn btn-link pull-right">[[[Cancel]]]</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <h3>[[[Latest entries]]]</h3>
            <div ng-repeat="post in latestPosts">
                <h4><span class="glyphicon glyphicon-calendar"></span> {{ post.when | datetime }}</h4>
                <span class="glyphicon glyphicon-user"></span> <em>{{post.first_name}} {{ post.last_name }}</em>

                <div ng-show="post.duration">[[[ran]]] {{ post.distance }} [[[meters]]] [[[in]]] {{ post.duration }} [[[seconds]]]</div>
                <div ng-show="post.town">[[[in]]] {{post.town}} {{post.country_name}}</div>

                <p><span ng-bind-html-unsafe="post.message | stripHTML | nl2br"></span>... <a href="#/post/{{ post.id }}">[[[Read full]]]</a></p>
                <p ng-if="post.comments > 0"><a href="#/post/{{ post.id }}">{{post.comments}} [[[comments]]]</a></p>

                <hr />
            </div>
        </div>

    </div>

    <div class="span-4">

        <h4>[[[Upcoming Runs]]]</h4>
        <div ng-repeat="run in upcomingRuns">
            <span>run.name</span>
            <span>run.distance</span>
            <span>run.town, run.country</span>
        </div>
        <a href="#/events/upcoming">[[[All runs]]]</a>

        <div x-signed-in>
            <h4>[[[Last Activity]]]</h4>
            <div ng-repeat="activity in latestActivities">

            </div>
            <a href="#/activity">[[[All activities]]]</a>
        </div>
    </div>
</div>