<div class="row">
    <div class="col-xs-8">


        <form role="form" >
            <div class="form-group">
                <textarea class="form-control" ng-model="post.message" placeholder="[[[How was your running today?]]]"></textarea>
            </div>
            <div class="form-group" style="height:0px;">
                <label for="distance" class="col-xs-2 control-label">[[[Distance]]]</label>
                <div class="col-sm-10">
                    <input class="form-control" id="distance" ng-model="post.distance" placeholder="[[[Distance in km]]]">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-xs-2 control-label">[[[Duration]]]</label>
                <div class="col-sm-10">

                    <div ng-model="post.duration" class="well well-small bootstrap-timepicker" style="display:inline-block;">
                        <timepicker hour-step="5" minute-step="1" show-seconds="true" show-meridian="false"></timepicker>
                    </div>


                </div>
            </div>
            <div class="form-group">
                <label for="location" class="col-xs-2 control-label">[[[Location]]]</label>
                <div class="col-sm-10">
                    <input class="form-control" id="location" ng-model="post.location"  typeahead-editable="false" typeahead-wait-ms="500" typeahead="location as location.town for location in getTowns($viewValue)" placeholder="[[[Location]]]">
                </div>
            </div>

            <div class="form-group">

                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary pull-right">[[[Publish]]]</button>
                    <a href="" class="btn btn-link pull-right">[[[Cancel]]]</a>
                </div>
            </div>
        </form>

        <div class="clearfix"></div>

        <h3>[[[Latest entries]]]</h3>
        <div ng-repeat="post in latestPosts">
            <h4><span class="glyphicon glyphicon-calendar"></span> {{ post.when }}</h4>
            <span class="glyphicon glyphicon-user"></span> <em>{{post.first_name}} {{ post.last_name }}</em>
            <p><span ng-bind-html-unsafe="post.message | stripHTML | nl2br"></span>... <a href="#/post/{{ post.id }}">[[[Read full]]]</a></p>

            <hr />
        </div>

    </div>

    <div class="col-xs-4">

        <h4>[[[Upcoming Runs]]]</h4>
        <div ng-repeat="run in upcomingRuns">
            <span>run.name</span>
            <span>run.distance</span>
            <span>run.town, run.country</span>
        </div>
        <a href="#/events/upcoming">[[[All runs]]]</a>

        <div x-signed-in>
            <h4>[[[Last Activity]]]</h4>
            <div ng-repeat="activity in latestActivities">

            </div>
            <a href="#/activity">[[[All activities]]]</a>
        </div>
    </div>
</div>