<div class="post-show">


    <a href="javascript:history.back()" class="btn btn-small mb"><i class="icon-chevron-left"></i>[[[back]]]</a>


    <div class="alert alert-info">
        <span class="icon-user"></span>{{post.member_name}}
        <span ng-show="post.duration">
            <i class="icon-road"></i>{{ post.distance/1000 }} [[[km]]]
            <i class="icon-time"></i><span ng-if="post.duration/3600 > 1">{{ post.duration/3600 | number:0}} [[[hours]]]</span> {{ (post.duration % 3600 )/60 | number:0 }} [[[minutes]]] <span ng-if="post.duration % 60 != 0"> {{ post.duration % 60 }} [[[seconds]]]</span>
        </span>
        <span ng-show="post.town"><i class="icon-map-marker"></i>{{post.town}}, {{post.country_name}}</span>
    </div>

    <div ng-if="member.id && post.member_id == member.id" class="post-edit btn-group pull-right">
        <a class="btn btn-mini" href="#/post/edit/{{post.id}}">[[[Edit]]]</a>
        <a class="btn btn-mini" confirmed-click="deletePost(post.id)" ng-confirm-click="[[[Are you sure that you want to remove this post?]]]" >[[[Delete]]]</a>
    </div>

    <div ng-bind-html-unsafe="post.message | nl2br"></div>

    <comments post-id="{{post.post_id}}" type="post" />


</div>